
<section class="phx-hero">
  <h1><%= link("Goto Employees", to: "/employees") %></h1>
</section> 


<section class="phx-hero">
  <p>This is  a decoupled implementation of the Employee with their Payslip problem</p>
  <p>The Business logic and ORM has been purposefuly unbundled out of the Presentation layer</p>
</section> 